logs/
data/
!biomag-kaggle/src/2_DL/style-transfer/pytorch-CycleGAN-and-pix2pix-etasnadi/data
.idea/
__pycache__*
biomag-kaggle/*.png
biomag-kaggle/src/1_metalearning/config.mat
biomag-kaggle/src/6_methsel/*.txt
biomag-kaggle/src/6_methsel/data_learnf/*
**/temp/**
**/simcep_compression.jpg
*~
biomag-kaggle/src/7_styaug/glob_vars.py
biomag-kaggle/*.mat
biomag-kaggle/HTMLresults
Mask_RCNN-2.1/
kaggle_workflow/inputs/clustering/DB.mat
kaggle_workflow/inputs/test1/
kaggle_workflow/inputs/train_maskrcnn/
kaggle_workflow/inputs/train_unet/
kaggle_workflow/inputs/validation/
kaggle_workflow/outputs/
HTMLresults/